body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.displayFlex {
    display: flex;
}
h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #03a9f4;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #03a9f4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}
button:hover {
    background-color: #0288d1;
}